:root {
	--background-body: #1a1d23;
	--background: #12141e;
	--background-alt: #10131c;
	--selection: #34a85c; /* increased contrast */
	--text-main: #cfcfcf; /* lightened text color for better contrast */
	--text-bright: #fffaf0; /* brighter and more saturated than before */
	--text-muted: #a9b1ba; /* kept the same, but you can adjust if needed */
	--links: #03a9f4; /* more vibrant and contrasting links color */
	--focus: #00a5bfab; /* kept the same, but you can darken or lighten as needed */
	--border: #333d49; /* darker border color for better contrast */
	--code: white;
	--animation-duration: 0.1s;
	--button-base: #2f3134; /* darker button base color */
	--button-hover: #21232e; /* kept the same, but you can darken or lighten as needed */
	--scrollbar-thumb: var(--button-hover);
	--scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));
	--form-placeholder: #a9a9a9;
	--form-text: #f7f4de; /* kept the same, but you can adjust if needed */
	--variable: #d941e2;
	--highlight: #ffd700; /* more saturated and contrasting highlight color */
	--width: 700px;
	--select-arrow: svg-load("./assets/select-arrow.svg", fill: #f7f4de);

	--flash-color: white;
	--flash-success-color: forestgreen;
	--flash-notice-color: grey;
	--flash-error-color: crimson;

	--nav-text: white;
	--nav-background: #303030;
    --nav-background-rgb: 90, 90, 90;
    --nav-background-hover: #ffffff22;	

	--main-menu: white;
	--main-menu-hover: #ffffff22;
	--main-menu-top: 61px;
}
