:root {

    --font-size: 16px;
    --font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
   
    /* --font-size: 15px;
    --font-family: "Courier New", Courier, monospace; */
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #f7f7f7;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-bright: #000;
    --text-muted: #70777f;
    --links: #0076d1;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --code: #000;
    --animation-duration: 0.1s;
    --button-base: #d0cfcf;
    --button-hover: #9b9b9b;
    --scrollbar-thumb: color-mod(var(--button-hover) lightness(+6%));
    --scrollbar-thumb-hover: var(--button-hover);
    --form-placeholder: #949494;
    --form-text: #1d1d1d;
    --variable: #39a33c;
    --highlight: #ff0;
    --width: 700px;
    --select-arrow: svg-load('./assets/select-arrow.svg', fill: #161f27);

    --flash-color: white;
    --flash-success-color: #155724;
    --flash-notice-color: #1b1f23;
    --flash-error-color: #721c24;

    --nav-text: black;
    --nav-background: rgb(250, 250, 250);
    --nav-background-rgb: 250, 250, 250;
    --nav-background-hover: #fdfdfd;

    --main-menu: black;
    --main-menu-hover: #00000022;
    --main-menu-top: 61px;
}
