<script type="importmap">
{
    "imports": {
        "/static/js/markdown.js": "/static/js/markdown.js?version={{ version }}",
        "/static/js/app-elements.js": "/static/js/app-elements.js?version={{ version }}",
        "/static/js/test-mathjax-working.js": "/static/js/test-mathjax-working.js?version={{ version }}",
        "/static/js/utils.js": "/static/js/utils.js?version={{ version }}",
        "/static/js/app-copy-buttons.js": "/static/js/app-copy-buttons.js?version={{ version }}",
        "/static/js/error-log.js": "/static/js/error-log.js?version={{ version }}",
        "/static/js/flash.js": "/static/js/flash.js?version={{ version }}",
        "/static/js/app.js": "/static/js/app.js?version={{ version }}",
        "/static/js/app-dialog.js": "/static/js/app-dialog.js?version={{ version }}",
        "/static/js/diff-dom.js": "/static/js/diff-dom.js?version={{ version }}",
        "/static/js/exceptions.js": "/static/js/exceptions.js?version={{ version }}",
        "/static/js/main-menu-overlay.js": "/static/js/main-menu-overlay.js?version={{ version }}",
        "/static/js/app-events.js": "/static/js/app-events.js?version={{ version }}",
        "/static/js/path-params.js": "/static/js/path-params.js?version={{ version }}",
        "/static/js/requests.js": "/static/js/requests.js?version={{ version }}",
        "/static/dist/markdown-it-table.js": "/static/dist/markdown-it-table.js?version={{ version }}",
        "/static/dist/diffDOM.js": "/static/dist/diffDOM.js?version={{ version }}",
        "/static/dist/markdown-it.min.js": "/static/dist/markdown-it.min.js?version={{ version }}",
        "/static/dist/highlight.min.js": "/static/dist/highlight.min.js?version={{ version }}"
    }
}
</script>