{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


<main class="default-container">

    <h3>New password</h3>

    <form id="new-password-form">

        <input type="password" name="password" placeholder="New password">
        <input type="password" name="password_2" placeholder="Repeat new password">
        <input type="hidden" name="token" value="{{ token }}">

        <button id="submit" class="btn btn-primary">Send</button>
    </form>
</main>
<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loading-spinner');
    const submit = document.getElementById('submit');
    submit.addEventListener('click', async function(event) {

        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {
            const url = '/user/new-password';
            const form = document.getElementById('new-password-form');
            const formData = new FormData(form);
            const res = await Requests.asyncPost(url, formData);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.replace('/user/login');
            }
            
        } catch (e) {
            console.log(e)
            Flash.setMessage(res.message, 'error');
        } finally {
            spinner.classList.toggle('hidden');
        }   
    });

</script>
{% endblock content %}