{% extends "base.html" %}

{% set body_class = 'page-profile' %}

{% block head %}
{% endblock head %}

{% block content %}

<main class="default-container">
    <h3>Profile</h3>

    <form method="post" action="/user/profile" class="profile-form">
        <label for="username">Your Username</label>
        <input type="text" id="username" name="username" placeholder="Your username" aria-label="Username" value="{{ profile.username }}">
        <div class="checkbox-container">
            <label for="dark_mode">Dark theme</label>
            <input type="checkbox" aria-label="Dark mode" value="1" id="dark_theme" name="dark_mode" {% if profile.dark_theme %}checked{% endif %}>
        </div>
        <label for="system_message">Define system message of the chat</label>
        <textarea id="system_message" name="system_message" placeholder="Set system message" aria-label="System message">{{ profile.system_message }}</textarea>
        <button id="save">Save</button>
    </form>
</main>

<script type="module">

    import { Flash } from '/static/js/flash.js';
    import { Requests } from '/static/js/requests.js';

    document.getElementById('save').addEventListener('click', async (event) => {
        event.preventDefault();
        const spinner = document.querySelector('.loading-spinner');
        spinner.classList.toggle('hidden');

        let jsonData = {
            username: document.getElementById('username').value,
            dark_theme: document.getElementById('dark_theme').checked,
            system_message: document.getElementById('system_message').value
        };

        try {
            const res = await Requests.asyncPostJson('/user/profile', jsonData);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.href = '/user/profile';
            }
        } catch (error) {
            console.error(error);
        } finally {
            spinner.classList.toggle('hidden');
        }
    });

</script>

{% endblock content %}