{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


<main class="default-container">

    <h3>Reset password</h3>

    <form id="reset-form">

        <label for="email">E-mail</label>
        <input id="email" type="text" name="email">

        <div class="captcha-container hidden">
            <img id="captcha-img" title="Click to get a new image" >
            <br>

            <label for="captcha">Enter above image text (click to get a new image). Case of the text does not
                matter:</label>
            <input autocomplete="off" type="text" name="captcha">
        </div>
        <button id="submit" class="btn btn-primary">Send</button>
    </form>
</main>
<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    // On captcha click, get a new captcha image by adding a random query string to the image src
    const captcha = document.getElementById('captcha-img');
    const captchaContainer = document.querySelector('.captcha-container');
    captcha.addEventListener('click', function() {
        const random = Math.random();
        captcha.src = `/captcha?${random}`;
    });

    // Set random image on captcha
    captcha.src = `/captcha?${Math.random()}`;
    captchaContainer.classList.toggle('hidden');
    

    const spinner = document.querySelector('.loading-spinner');
    const submit = document.getElementById('submit');
    submit.addEventListener('click', async function(event) {

        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {
            const url = '/user/reset';
            const form = document.getElementById('reset-form');
            const formData = new FormData(form);
            const res = await Requests.asyncPost(url, formData);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.replace('/user/login');
            }
            
        } catch (e) {
            console.log(e)
            Flash.setMessage(res.message, 'error');
        } finally {
            spinner.classList.toggle('hidden');
        }   
    });

</script>
{% endblock content %}