[Unit]
Description=Ollama Client Service (Uvicorn)
After=network.target

[Service]
# run as
User=dennis
WorkingDirectory=/home/dennis/ollama-client

# Use Uvicorn instead of Gunicorn
ExecStart=/home/dennis/ollama-client/.venv/bin/python -m ollama_client server-dev --host 0.0.0.0 --port 8000

# Restart on failure
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
